.windows{
background-image:url('../dist/img/windows.png');
background-repeat:no-repeat;
}
.ubuntu{
background-image:url('../dist/img/ubuntu.png');
background-repeat:no-repeat;
}
.source{
background-image:url('../dist/img/tux.png');
background-repeat:no-repeat;
}
.dl
{
color:black;
}
.dl:hover
{ 
color:white;
background-color:#25527b;
}
